<% provide(:title, "All Items") %>

<% if logged_in? %>

        <%= render 'shared/allitem_form' %>
<div class="row"> 
    <div class="col-md-12">
    <h3>All Items (<%= current_user.allitems.count %>)</h3>
    </div>
    </div>

  <div class="help">
    
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <%= label :thing, 'Thing' %>:
        <%= form_tag(allitems_path, :method => "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Whole Foods" %>
        <%= label :thing, 'Store' %>:
        <%= select_tag :search, options_from_collection_for_select(Store.all, "store", "store") %>
      </div>

      <div class="col-md-3 col-xs-2">
      <%= label :thing, '' %>
        <%= submit_tag "Search", class: "btn btn-primary" %></div>
      <% end %>

    </div>
  </div>

  <div class="help">
    
    <div class="row">
      <div class="col-md-3 col-xs-2"><h4>Item</h4></div>
      <div class="col-md-2 col-xs-2"><h4>Store</h4></div>
      <div class="col-md-1 col-xs-1"><div class="center-text"><h4>#</h4></div></div>
      <div class="col-md-1 col-xs-1"><div class="center-text"><h4>Zone</h4></div></div>
      <div class="col-md-1 col-xs-1"></div>
      <div class="col-md-2 col-xs-1"></div>
      <div class="col-md-2 col-xs-1"></div>
    </div>
     
    
      <%= render 'shared/feed_all_items' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Grocery Shopping Done Right</h1>

  <h2>

            
    Never write another list.  Get through stores quick.
    <%= link_to "Learn More.", help_path %>
  </h2>

  <%= link_to "Let's Do This", signup_path, class: "btn btn-lg btn-primary" %>
</div>



<% end %>