<% provide(:title, "Weeks List") %>
<% if logged_in? %>
<div class="contents">
  <div class="left">
    <div class="inner">
     <div class="row">
       <div class="col-md-5 col-xs-7">
          <h3>Week's List (<%= current_user.weekslists.count() %>)</h3>
       </div>
       <% if false %>
       <div class="col-md-2 col-xs-4">
         <div class="hideshowweekslist">
           <a id='hideshow' onclick="myFunction()" class="btn btn-primary btn-sm" role="button">+/- Add Item</a>
         </div>
       </div>
       <% end %>
       <div id="clearList" class="col-md-2 col-xs-4">
         <%= button_to "Start New List", destroy_all_weekslists_path, :method => :post, class: "btn btn-danger", data: {confirm: "Are you sure you want to wipe out your whole list?"} %>
       </div>
     </div>
     <div class="help">
       <div class="row">
          <div class="col-md-3 col-xs-2"><h4>Item</h4></div>
          <div class="col-md-2 col-xs-2"><h4>Store</h4></div>
          <div class="col-md-1 col-xs-1"><div class="center-text"><h4>#</h4></div></div>
          <div class="col-md-1 col-xs-1"><div class="center-text"><h4>Zone</h4></div></div>
          <div class="col-md-2 col-xs-1"></div>
          <div class="col-md-2 col-xs-1"></div>
        </div>
        <%= render 'shared/feed' %>
<div class="spacetoenter">
<ul  class="weekslist">
<li>
<h4>Add to Week's List</h4>
<%= form_for(@weekslist) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="col-md-3 col-xs-4">
          <%= f.label :thing, 'Item' %>:
      		<%= f.text_field :thing, placeholder: "Apples" %>
      </div>
      <div class="col-md-2 col-xs-3" id="moveformfields">
        <%= f.label :store, 'Store' %>:
        <% options = options_from_collection_for_select(@store, 'store', 'store') %>
        <%= f.select :store,  options %>
      </div>
      <div class="col-md-2 col-xs-2" id="moveformfields">
        <%= f.label :amount, '#' %>:
        <%= f.select :amount,  [1, 2, 3, 4, 5, 6, 7, 8, 9] %>
      </div>
      <div class="col-md-2 col-xs-3" id="moveformfields">
        <%= f.label :zone, 'Zone' %>:
        <%= f.select :zone,  [1, 2, 3, 4, 5, 6] %>
      </div>
    	<div id="btn-add" class="col-md-2 col-xs-1" >
    	<%= f.submit "Add", class: "btn btn-primary" %>
    	</div>
    </div>
<% end %>
  </li>
</ul>
</div>
</div>
<%#= <%= render 'shared/weekslist_form' %>
    </div>
</div>
<div class="right">
  <div class="inner">
    <div class="row">
      <div class="col-md-12">
        <h3>Past Purchases</h3>
      </div>
    </div>
    <div class="help">
      <div class="row">
        <div class="col-md-3 col-xs-2"><h4>Item</h4></div>
        <div class="col-md-2 col-xs-2"><h4>Store</h4></div>
        <div class="col-md-1 col-xs-1"><div class="center-text"><h4>#</h4></div></div>
        <div class="col-md-1 col-xs-1"><div class="center-text"><h4>Zone</h4></div></div>
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-2 col-xs-1"></div>
      </div>
      <%= render 'shared/feed_all_items' %>
    </div>
  </div>
  </div>
</div>
  <% else %>
<div class="center jumbotron">
  <h1>Grocery Shopping Done Right</h1>
  <h2>
    Never write another list.  Get through stores quick.
    <%= link_to "Learn More.", help_path %>
  </h2>
  <%= link_to "Let's Do This", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
