

<%# on button press, toggle visibility of div.  in one div, show labels, in another div, show the form%>
<ul  class="weekslist">
    <li>
    <div class="row">
    
      <div class="col-md-3 col-xs-2"><%= weekslist.thing %></div>
	    <div class="col-md-2 col-xs-2"><%= weekslist.store %></div>
      <div class="col-md-1 col-xs-1"><div class="center-text"><%= weekslist.amount %></div></div>
      <div class="col-md-1 col-xs-1"><div class="center-text"><%= weekslist.zone %></div></div>
      <div class="col-md-1 col-xs-1">       
              <%= button_to  edit_weekslist_path(weekslist.id), type: "button", class: "btn btn-primary btn-responsive-edit" do %>
            <i class="glyphicon glyphicon-cog"></i>
        <% end %> 
        

        </div>

      <div class="col-md-2 col-xs-2">
        
      	 <% if current_user?(weekslist.user) %>	
      		<% if weekslist.bought == false %>

              <%= form_for weekslist do |f| %>
              <%= f.hidden_field :bought, value: true %>
               <%= button_tag(class: "btn btn-warning btn-responsive") do %>
              <span class="glyphicon glyphicon-thumbs-up"></span>
          
        <% end %> 
      		 <% end %>  
           
			   <% else %>
  					<%= form_for weekslist do |f| %>
    					<%= f.hidden_field :bought, value: false %>
               <%= button_tag(class: "btn btn-success btn-responsive") do %>
              <span class="glyphicon glyphicon-ok"></span>
             <% end %>
             <% end %>
			   <% end %>
         </div>
        <div class="col-md-2 col-xs-2">
        <%= button_to  weekslist, method: :delete,  type: "button", class: "btn btn-danger btn-responsive", data: {confirm: "Are you sure you want to delete this?"} do %>
            <i class="glyphicon glyphicon-remove-circle"></i>
        <% end %> 
        </div>
      
      </div>
     
    </li>

</ul>

<% end %>