<%= form_for(@weekslist) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<h3>Edit Item</h3>
  <div class="help">
    <div class="row">
      <div class="col-md-3 ">
   
          <%= f.label :thing, 'Item' %>:
    
          <%= f.text_field :thing, placeholder: "Apples" %>
      </div>
 
      <div class="col-md-3">
        <%= f.label :store, 'Store' %>:
        
        <%= f.collection_select :store, Store.order(:store),:store,:store %>
        
      </div>
      <div class="col-md-2 ">
        <%= f.label :zone, 'Zone' %>:
        
        <%= f.select :zone, ['1', '2', '3', '4', '5','6'] %>
      </div>
        <div class="col-md-2">
      <%= f.label :amount, 'Amount' %>:
       <%= f.select :amount, ['1', '2', '3', '4', '5','6'] %>
        </div>
      <div class="col-md-2">
      </br>
      <%= f.submit "Edit Item", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>

      
 
