


<ul class="weekslist">


    <li>
    <div class="row">
      <div class="col-md-3"><%= allitem.thing %></div>
	  <div class="col-md-3"><%= allitem.store %></div>
      <div class="col-md-1"><div class="center-text"><%= allitem.zone %></div></div>
      <div class="col-md-1"><div class="center-text"><%= allitem.amount %></div></div>
      <div class="col-md-2"> 
      			  	
      		<% if current_user?(allitem.user) %>

            <%= form_for allitem do |f| %>
              
              <%= f.submit "Add to Week's List" , action: 'create_from_existing', method: :post, class: "btn btn-primary"%>

            <% end %>
            <% end %>
            </div>
       <div class="col-md-2">   
      <%= button_to "Delete", allitem, method: :delete,  class: "btn btn-danger" %> </div>
    
    </div>
     
    </li>
  
</ul>

